body {
  background: linear-gradient(to right, #92ceff, #ff804e);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgb(149, 212, 255);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

input,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

button {
  background: #ff804e;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}